Repository ministryofjustice/staff-infrastructure-alz-backup: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/deploy-eucs-uprint-vm-backup.yml, pipelines/deploy-hub-vm-backup.yml, pipelines/deploy-smss-ibase-backup.yml, pipelines/deploy-sserv-vm-backup.yml

Path conditions:
  pipelines/deploy-eucs-uprint-vm-backup.yml: any of: terraform/source, terraform/environments/dev/eucs-uprint, terraform/environments/pre-prod/eucs-uprint, terraform/environments/prod/eucs-uprint
  pipelines/deploy-hub-vm-backup.yml: any of: terraform/source, terraform/environments/dev/hub, terraform/environments/pre-prod/hub, terraform/environments/prod/hub
  pipelines/deploy-smss-ibase-backup.yml: any of: terraform/source, terraform/environments/prod/smss-iBase
  pipelines/deploy-sserv-vm-backup.yml: any of: terraform/source, terraform/environments/dev/sserv, terraform/environments/pre-prod/sserv, terraform/environments/prod/sserv

HC-1048 add smss dogs staging pipeline and vms
  pipelines/deploy-smss-dogs-staging-backup.yml
  terraform/environments/prod/smss-dogs-staging/vm-backup-config.auto.tfvars
Due: none

HC-1048 add smss dogs staging (#51)
  pipelines/deploy-smss-dogs-staging-backup.yml
  terraform/environments/prod/smss-dogs-staging/README.md
  terraform/environments/prod/smss-dogs-staging/backend.tf
  terraform/environments/prod/smss-dogs-staging/backup-policies.auto.tfvars
  terraform/environments/prod/smss-dogs-staging/backup-workload-policies.auto.tfvars
  terraform/environments/prod/smss-dogs-staging/data.tf
  terraform/environments/prod/smss-dogs-staging/main.tf
  terraform/environments/prod/smss-dogs-staging/terraform.tfvars
  terraform/environments/prod/smss-dogs-staging/variables.tf
  terraform/environments/prod/smss-dogs-staging/versions.tf
  terraform/environments/prod/smss-dogs-staging/vm-backup-config.auto.tfvars
Due: none

replacing 1.5.7 with 1.9.8
  pipelines/deploy-eucs-uprint-vm-backup.yml
  pipelines/deploy-hub-vm-backup.yml
  pipelines/deploy-smss-dogs-backup.yml
  pipelines/deploy-smss-dogs-staging-backup.yml
  pipelines/deploy-smss-ibase-backup.yml
  pipelines/deploy-sserv-vm-backup.yml
  terraform/environments/dev/eucs-uprint/README.md
  terraform/environments/dev/hub/README.md
  terraform/environments/dev/smss-dogs/README.md
  terraform/environments/dev/testsub/README.md
  terraform/environments/prod/smss-dogs-staging/README.md
  terraform/environments/prod/smss-dogs/README.md
  terraform/environments/prod/smss-iBase/README.md
  terraform/environments/prod/sserv/README.md
  terraform/source/README.md
  terraform/source/versions.tf
Due: pipelines/deploy-eucs-uprint-vm-backup.yml, pipelines/deploy-hub-vm-backup.yml, pipelines/deploy-smss-ibase-backup.yml, pipelines/deploy-sserv-vm-backup.yml

replacing 1.5.7 with 1.9.8 (#52)
  pipelines/deploy-eucs-uprint-vm-backup.yml
  pipelines/deploy-hub-vm-backup.yml
  pipelines/deploy-smss-dogs-backup.yml
  pipelines/deploy-smss-dogs-staging-backup.yml
  pipelines/deploy-smss-ibase-backup.yml
  pipelines/deploy-sserv-vm-backup.yml
  terraform/environments/dev/eucs-uprint/README.md
  terraform/environments/dev/hub/README.md
  terraform/environments/dev/smss-dogs/README.md
  terraform/environments/dev/testsub/README.md
  terraform/environments/prod/smss-dogs-staging/README.md
  terraform/environments/prod/smss-dogs/README.md
  terraform/environments/prod/smss-iBase/README.md
  terraform/environments/prod/sserv/README.md
  terraform/source/README.md
  terraform/source/versions.tf
Due: pipelines/deploy-eucs-uprint-vm-backup.yml, pipelines/deploy-hub-vm-backup.yml, pipelines/deploy-smss-ibase-backup.yml, pipelines/deploy-sserv-vm-backup.yml

HC-1128 Bump ministryofjustice/github-actions from 14 to 18.4.0
  .github/workflows/format-code.yml
  .github/workflows/tf-static-analysis.yml
Due: none

revert actions/checkout back to v4
  .github/workflows/format-code.yml
Due: none

bump actions/checkout to 4.2.1
  .github/workflows/format-code.yml
Due: none

Hc 1128/bump/ministryofjustice/GitHub actions 18.4.0 (#53)
  .github/workflows/format-code.yml
  .github/workflows/tf-static-analysis.yml
Due: none

HC-1128 pin GitHub Actions to commit SHA
  .github/workflows/dependency-review.yml
  .github/workflows/documentation.yml
  .github/workflows/format-code.yml
  .github/workflows/tf-static-analysis.yml
Due: none

HC-1128 pin GitHub Actions to commit SHA (#54)
  .github/workflows/dependency-review.yml
  .github/workflows/documentation.yml
  .github/workflows/format-code.yml
  .github/workflows/tf-static-analysis.yml
Due: none

removed 4 5 6 and 7 sfo dcs from backup
  terraform/environments/prod/sserv/vm-backup-config.auto.tfvars
Due: pipelines/deploy-sserv-vm-backup.yml

removed 4 5 6 and 7 sfo dcs from backup (#55)
  terraform/environments/prod/sserv/vm-backup-config.auto.tfvars
Due: pipelines/deploy-sserv-vm-backup.yml

Hc 1078 upgrade terraform provider azurerm to 4.8.0
  terraform/source/versions.tf
Due: pipelines/deploy-eucs-uprint-vm-backup.yml, pipelines/deploy-hub-vm-backup.yml, pipelines/deploy-smss-ibase-backup.yml, pipelines/deploy-sserv-vm-backup.yml

Hc 1078 upgrade terraform provider azurerm to 4.8.0 (#57)
  terraform/environments/dev/eucs-uprint/README.md
  terraform/environments/dev/hub/README.md
  terraform/environments/dev/smss-dogs/README.md
  terraform/environments/dev/testsub/README.md
  terraform/environments/prod/smss-dogs-staging/README.md
  terraform/environments/prod/smss-dogs/README.md
  terraform/environments/prod/smss-iBase/README.md
  terraform/environments/prod/sserv/README.md
  terraform/source/README.md
  terraform/source/versions.tf
Due: pipelines/deploy-eucs-uprint-vm-backup.yml, pipelines/deploy-hub-vm-backup.yml, pipelines/deploy-smss-ibase-backup.yml, pipelines/deploy-sserv-vm-backup.yml

Fix the GitHub Actions semantic sha hashes
  .github/workflows/documentation.yml
Due: none

Fix the GitHub Actions semantic sha hashes (#66)
  .github/workflows/documentation.yml
Due: none

bring forward sql db backup by 1 hour for sql dogs
  terraform/environments/dev/smss-dogs/backup-workload-policies.auto.tfvars
  terraform/environments/prod/smss-dogs/backup-workload-policies.auto.tfvars
Due: none

bring forward sql db backup by 1 hour for sql dogs (#86)
  terraform/environments/dev/smss-dogs/backup-workload-policies.auto.tfvars
  terraform/environments/prod/smss-dogs/backup-workload-policies.auto.tfvars
Due: none

sql backup at 2100 now
  terraform/environments/prod/smss-dogs-staging/backup-workload-policies.auto.tfvars
  terraform/environments/prod/smss-iBase/backup-workload-policies.auto.tfvars
Due: pipelines/deploy-smss-ibase-backup.yml

sql backup at 2100 now (#87)
  terraform/environments/prod/smss-dogs-staging/backup-workload-policies.auto.tfvars
  terraform/environments/prod/smss-iBase/backup-workload-policies.auto.tfvars
Due: pipelines/deploy-smss-ibase-backup.yml

HC-1322 Pinning the Github Action Version To V18.6.0
  .github/dependabot.yml
Due: none

HC-1322 Pinning the Github Action Version To V18.6.0 (#96)
  .github/dependabot.yml
Due: none

Test-github-action-v4.2.2-5.0.0
  terraform/environments/dev/eucs-uprint/terraform.tfvars
Due: pipelines/deploy-eucs-uprint-vm-backup.yml

removing the added commented ine
  terraform/environments/dev/eucs-uprint/terraform.tfvars
Due: pipelines/deploy-eucs-uprint-vm-backup.yml
