Repository ministryofjustice/staff-infrastructure-alz-backup: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/deploy-hub-vm-backup.yml, pipelines/deploy-sserv-vm-backup.yml

Path conditions:
  pipelines/deploy-hub-vm-backup.yml: any of: terraform/source, terraform/environments/dev/hub, terraform/environments/pre-prod/hub, terraform/environments/prod/hub
  pipelines/deploy-sserv-vm-backup.yml: any of: terraform/source, terraform/environments/dev/sserv, terraform/environments/pre-prod/sserv, terraform/environments/prod/sserv

provider added
  terraform/environments/prod/sserv/action-groups.auto.tfvars
  terraform/source/data.tf
Due: pipelines/deploy-hub-vm-backup.yml, pipelines/deploy-sserv-vm-backup.yml

Hc 787 vm backups self service (#1)
  README.md
  pipelines/deploy-hub-vm-backup.yml
  pipelines/deploy-sserv-vm-backup.yml
  terraform/environments/dev/hub/.terraform.lock.hcl
  terraform/environments/dev/hub/action-groups.auto.tfvars
  terraform/environments/dev/hub/action-groups.tf
  terraform/environments/dev/hub/alert-query.tf
  terraform/environments/dev/hub/backend.tf
  terraform/environments/dev/hub/backup-alert.auto.tfvars
  terraform/environments/dev/hub/backup-policies.auto.tfvars
  terraform/environments/dev/hub/data.tf
  terraform/environments/dev/hub/main.tf
  terraform/environments/dev/hub/terraform.tfvars
  terraform/environments/dev/hub/variables.tf
  terraform/environments/dev/hub/versions.tf
  terraform/environments/dev/hub/vm-backup-config.auto.tfvars
  terraform/environments/prod/sserv/action-groups.auto.tfvars
  terraform/environments/prod/sserv/action-groups.tf
  terraform/environments/prod/sserv/alert-query.tf
  terraform/environments/prod/sserv/backend.tf
  terraform/environments/prod/sserv/backup-alert.auto.tfvars
  terraform/environments/prod/sserv/backup-policies.auto.tfvars
  terraform/environments/prod/sserv/data.tf
  terraform/environments/prod/sserv/main.tf
  terraform/environments/prod/sserv/terraform.tfvars
  terraform/environments/prod/sserv/variables.tf
  terraform/environments/prod/sserv/versions.tf
  terraform/environments/prod/sserv/vm-backup-config.auto.tfvars
  terraform/source/action-groups.tf
  terraform/source/alert-query.tf
  terraform/source/data.tf
  terraform/source/main.tf
  terraform/source/variables.tf
  terraform/source/versions.tf
Due: pipelines/deploy-hub-vm-backup.yml, pipelines/deploy-sserv-vm-backup.yml

fixing the azurerm provider
  terraform/source/main.tf
Due: pipelines/deploy-hub-vm-backup.yml, pipelines/deploy-sserv-vm-backup.yml

fixing the azurerm provider (#2)
  terraform/source/main.tf
Due: pipelines/deploy-hub-vm-backup.yml, pipelines/deploy-sserv-vm-backup.yml

sdfsfs
  terraform/environments/dev/hub/action-groups.auto.tfvars
  terraform/environments/dev/hub/backup-policies.auto.tfvars
  terraform/environments/dev/hub/vm-backup-config.auto.tfvars
Due: pipelines/deploy-hub-vm-backup.yml

checking out a comprehensive backup policy
  terraform/environments/dev/hub/backup-policies.auto.tfvars
  terraform/environments/dev/hub/vm-backup-config.auto.tfvars
Due: pipelines/deploy-hub-vm-backup.yml

fix
  terraform/environments/dev/hub/backup-policies.auto.tfvars
Due: pipelines/deploy-hub-vm-backup.yml

check
  terraform/environments/dev/hub/backup-policies.auto.tfvars
  terraform/source/main.tf
  terraform/source/variables.tf
Due: pipelines/deploy-hub-vm-backup.yml, pipelines/deploy-sserv-vm-backup.yml

fix tfvars
  terraform/environments/dev/hub/vm-backup-config.auto.tfvars
Due: pipelines/deploy-hub-vm-backup.yml

onboarding eucs
  terraform/environments/dev/eucs-uprint/action-groups.auto.tfvars
  terraform/environments/dev/eucs-uprint/action-groups.tf
  terraform/environments/dev/eucs-uprint/alert-query.tf
  terraform/environments/dev/eucs-uprint/backend.tf
  terraform/environments/dev/eucs-uprint/backup-alert.auto.tfvars
  terraform/environments/dev/eucs-uprint/backup-policies.auto.tfvars
  terraform/environments/dev/eucs-uprint/data.tf
  terraform/environments/dev/eucs-uprint/main.tf
  terraform/environments/dev/eucs-uprint/terraform.tfvars
  terraform/environments/dev/eucs-uprint/variables.tf
  terraform/environments/dev/eucs-uprint/versions.tf
  terraform/environments/dev/eucs-uprint/vm-backup-config.auto.tfvars
  terraform/environments/dev/eucs/action-groups.tf
  terraform/environments/dev/eucs/alert-query.tf
  terraform/environments/dev/eucs/data.tf
  terraform/environments/dev/eucs/main.tf
  terraform/environments/dev/eucs/variables.tf
  terraform/environments/dev/eucs/versions.tf
Due: none

removing the backup alerts
  terraform/environments/dev/eucs-uprint/action-groups.auto.tfvars
  terraform/environments/dev/eucs-uprint/action-groups.tf
  terraform/environments/dev/eucs-uprint/alert-query.tf
  terraform/environments/dev/eucs-uprint/backup-alert.auto.tfvars
  terraform/environments/dev/eucs/action-groups.tf
  terraform/environments/dev/eucs/alert-query.tf
  terraform/environments/dev/hub/action-groups.auto.tfvars
  terraform/environments/dev/hub/action-groups.tf
  terraform/environments/dev/hub/alert-query.tf
  terraform/environments/dev/hub/backup-alert.auto.tfvars
  terraform/environments/prod/sserv/action-groups.auto.tfvars
  terraform/environments/prod/sserv/action-groups.tf
  terraform/environments/prod/sserv/alert-query.tf
  terraform/environments/prod/sserv/backup-alert.auto.tfvars
  terraform/source/action-groups.tf
  terraform/source/alert-query.tf
Due: pipelines/deploy-hub-vm-backup.yml, pipelines/deploy-sserv-vm-backup.yml

obnoarding eucs-uprint in dev
  pipelines/deploy-eucs-uprint-vm-backup.yml
  terraform/environments/dev/eucs-uprint/vm-backup-config.auto.tfvars
  terraform/environments/dev/eucs/data.tf
  terraform/environments/dev/eucs/main.tf
  terraform/environments/dev/eucs/variables.tf
  terraform/environments/dev/eucs/versions.tf
  terraform/source/main.tf
Due: pipelines/deploy-hub-vm-backup.yml, pipelines/deploy-sserv-vm-backup.yml

only dev for eucs-print
  pipelines/deploy-eucs-uprint-vm-backup.yml
Due: none

fixed sub id for eucs
  terraform/environments/dev/eucs-uprint/terraform.tfvars
Due: none

Updated Readme
  README.md
  terraform/environments/dev/hub/backup-policies.auto.tfvars
  terraform/environments/dev/hub/vm-backup-config.auto.tfvars
Due: pipelines/deploy-hub-vm-backup.yml

added instructions for monitoring
  README.md
Due: none

Update README.md
  README.md
Due: none

Self Sevice Backup for vms with backup policy (#5)
  README.md
  pipelines/deploy-eucs-uprint-vm-backup.yml
  terraform/environments/dev/eucs-uprint/backend.tf
  terraform/environments/dev/eucs-uprint/backup-policies.auto.tfvars
  terraform/environments/dev/eucs-uprint/data.tf
  terraform/environments/dev/eucs-uprint/main.tf
  terraform/environments/dev/eucs-uprint/terraform.tfvars
  terraform/environments/dev/eucs-uprint/variables.tf
  terraform/environments/dev/eucs-uprint/versions.tf
  terraform/environments/dev/eucs-uprint/vm-backup-config.auto.tfvars
  terraform/environments/dev/hub/action-groups.auto.tfvars
  terraform/environments/dev/hub/action-groups.tf
  terraform/environments/dev/hub/alert-query.tf
  terraform/environments/dev/hub/backup-alert.auto.tfvars
  terraform/environments/dev/hub/vm-backup-config.auto.tfvars
  terraform/environments/prod/sserv/action-groups.auto.tfvars
  terraform/environments/prod/sserv/action-groups.tf
  terraform/environments/prod/sserv/alert-query.tf
  terraform/environments/prod/sserv/backup-alert.auto.tfvars
  terraform/source/action-groups.tf
  terraform/source/alert-query.tf
  terraform/source/data.tf
  terraform/source/main.tf
  terraform/source/variables.tf
Due: pipelines/deploy-hub-vm-backup.yml, pipelines/deploy-sserv-vm-backup.yml

test pr
  terraform/environments/dev/eucs-uprint/backup-policies.auto.tfvars
  terraform/environments/dev/eucs-uprint/vm-backup-config.auto.tfvars
Due: none

test
  terraform/environments/dev/eucs-uprint/backup-policies.auto.tfvars
Due: none

HC-847-V157-staff-infrastructure-alz-backup
  pipelines/deploy-eucs-uprint-vm-backup.yml
  pipelines/deploy-hub-vm-backup.yml
  pipelines/deploy-sserv-vm-backup.yml
  terraform/source/versions.tf
Due: pipelines/deploy-hub-vm-backup.yml, pipelines/deploy-sserv-vm-backup.yml

updated_commeted_TV
  pipelines/deploy-eucs-uprint-vm-backup.yml
Due: none

Hc 847 t157 staff infrastructure alz backup (#6)
  pipelines/deploy-eucs-uprint-vm-backup.yml
  pipelines/deploy-hub-vm-backup.yml
  pipelines/deploy-sserv-vm-backup.yml
  terraform/source/versions.tf
Due: pipelines/deploy-hub-vm-backup.yml, pipelines/deploy-sserv-vm-backup.yml

ff
  terraform/environments/dev/eucs-uprint/.terraform.lock.hcl
  terraform/environments/dev/testsub/.terraform.lock.hcl
  terraform/environments/dev/testsub/backend.tf
  terraform/environments/dev/testsub/backup-policies.auto.tfvars
  terraform/environments/dev/testsub/data.tf
  terraform/environments/dev/testsub/main.tf
  terraform/environments/dev/testsub/terraform.tfvars
  terraform/environments/dev/testsub/variables.tf
  terraform/environments/dev/testsub/versions.tf
  terraform/environments/dev/testsub/vm-backup-config.auto.tfvars
Due: none

add enhanced backup for dom1dcs
  terraform/environments/prod/sserv/vm-backup-config.auto.tfvars
Due: pipelines/deploy-sserv-vm-backup.yml

add enhanced backup for dom1dcs (#7)
  terraform/environments/prod/sserv/vm-backup-config.auto.tfvars
Due: pipelines/deploy-sserv-vm-backup.yml

dependabot package fix
  .github/dependabot.yml
Due: none

dependabot package fix (#8)
  .github/dependabot.yml
Due: none

adding mising tf doc generator
  .github/dependabot.yml
  .github/workflows/documentation.yml
Due: none

adding missing tf doc generator (#10)
  .github/dependabot.yml
  .github/workflows/documentation.yml
  terraform/environments/dev/eucs-uprint/README.md
  terraform/environments/dev/hub/README.md
  terraform/environments/prod/sserv/README.md
  terraform/source/README.md
Due: pipelines/deploy-hub-vm-backup.yml, pipelines/deploy-sserv-vm-backup.yml

branch for sql db backup
  terraform/source/main.tf
  terraform/source/variables.tf
Due: pipelines/deploy-hub-vm-backup.yml, pipelines/deploy-sserv-vm-backup.yml

sql backup policies
  terraform/environments/dev/testsub/.terraform.lock.hcl
  terraform/environments/dev/testsub/backend.tf
  terraform/environments/dev/testsub/backup-policies.auto.tfvars
  terraform/environments/dev/testsub/backup-workload-policies.auto.tfvars
  terraform/environments/dev/testsub/data.tf
  terraform/environments/dev/testsub/main.tf
  terraform/environments/dev/testsub/terraform.tfvars
  terraform/environments/dev/testsub/variables.tf
  terraform/environments/dev/testsub/versions.tf
  terraform/environments/dev/testsub/vm-backup-config.auto.tfvars
  terraform/source/main.tf
Due: pipelines/deploy-hub-vm-backup.yml, pipelines/deploy-sserv-vm-backup.yml

backup for sql
  README.md
  terraform/source/main.tf
  terraform/source/variables.tf
Due: pipelines/deploy-hub-vm-backup.yml, pipelines/deploy-sserv-vm-backup.yml

updated readme.
  README.md
Due: none

updated readme
  README.md
Due: none
